<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3 class="text-center" style="font-weight: bold;"> Welcome to B2B.City!</h3>
      <br>
      <h4 class="text-center"> Your number one spot for finding the vendor to meet your needs. Simply create a listing and wait for bids to roll in!</h4>
      <h4 class="text-center"> If you are a vendor, review the listings on the home page to find work! Once you find something you can do, hit the respond button to submit your bid. If the author thinks its a match, they'll get back to you!</h4>
    </div>
  </div>
</div>
