
<div>
  <h5><a ui-sref="profile">Back to Profile</a></h5>
</div>
Responses

<div ng-repeat="bids in main.currentUser().myBids" class="row">
  <div class="col-md-10 col-md-offset-1 ">
    <div class="panel-body">
      <ul class="list-group form-inline">
        <li class="list-group-item">
          <h3><a ui-sref="listing-detail({listingId: listing._id})">{{listing.topic}}</a></h3>
          <p> Topic of Request: {{bids.bidTopic}} | In response to: {{bids.createdBy}} | Response Sent on: {{bids.responseDate}}</p>
          <p class="card-text">Your Response: {{bids.response}}</p>
        </li>
      </ul>
    </div>
  </div>
</div>
