<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class='row'>
                <div class="col-md-3 col-xs-12 thumbnail">
                  <img src="./images/placeholder.png" alt="listing image" >
                </div>

                <div class="col-md-9 col-xs-12">
                  <ul class="list-group form-inline">
                    <li class="list-group-item">
                      <h4 class='inline-header'>Topic:</h4>
                      <span ng-hide="editing">{{listingShowCtrl.listing.topic}}</a></span>
                      <input ng-show="editing" ng-model="listingShowCtrl.listing.topic" type="text" class="form-control input-md">
                    </li>
                    <li class="list-group-item">
                      <h4 class='inline-header'>Description:</h4>
                      <span ng-hide="editing">{{listingShowCtrl.listing.description}}</a></span>
                      <input ng-show="editing" ng-model="listingShowCtrl.listing.description" type="text" class="form-control input-md">
                    </li>
                    <li class="list-group-item">
                      <h4 class='inline-header'>Budget:</h4>
                      <span ng-hide="editing">{{listingShowCtrl.listing.budget| currency : $ : 0}}</a></span>
                      <input ng-show="editing" ng-model="listingShowCtrl.listing.budget" type="text" class="form-control input-md">
                    </li>
                    <li class="list-group-item">
                      <h4 class='inline-header'>Location:</h4>
                      <span ng-hide="editing">{{listingShowCtrl.listing.location}}</a></span>
                      <input ng-show="editing" ng-model="listingShowCtrl.listing.location" type="text" class="form-control input-md">
                    </li>
                  </ul>
                </div>
              </div>
              <div class='panel-footer'>
                <div class='panel-footer'>
                  <button class='btn btn-danger' ng-click="listingShowCtrl.deleteListing(listing)">Delete Listing</button>
                  <button class='btn btn-info' ng-hide="editing" ng-click="editing = true">Edit Listing</button>
                  <button class='btn btn-success' ng-show="editing" ng-click="listingShowCtrl.editListing(listing); editing = false">Save Changes</button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
