<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class='row'>
            <span class="list-group-item" ng-if="main.currentUser()._id === listingShowCtrl.listing.uid">
              This is your listing.
            </span>
            <a href="javascript:history.back()"><button class="pull-right btn btn-xs btn-default" style="  margin-top: 5px;  margin-right: 5px;">Go Back</button></a>
            <form>
            <fieldset>
            <div class="col-md-2 col-xs-4 thumbnail" style="margin-top: 8px;margin-left: 14px;">
              <img src="./images/placeholder.png" alt="listing image">
                <span>Requested By: {{listingShowCtrl.listing.createdBy}}</a></span>

                <button class="btn btn-info" ng-hide="responding" ng-click="responding = true"> Respond</button>
                <button class="btn btn-success" ng-show="responding" ng-click="listingShowCtrl.createBid();"> Send Response</button>
                <button class="btn btn-warning" ng-show="responding" ng-click="responding = false"> Cancel</button>

            </div>
            <!-- Listing Details -->
            <div class="col-md-6 col-xs-12" style="margin-top: 8px;">

              <ul class="list-group form-inline">
                <li class="list-group-item" >
                  <h4 class='inline-header' style="font-weight: bold;">Topic:</h4>
                  <span>{{listingShowCtrl.listing.topic}}</a></span>
                </li>
                <li class="list-group-item" >
                  <h4 class='inline-header' style="font-weight: bold;">Needed by:</h4>
                  <span>{{listingShowCtrl.listing.dateReq}}</a></span>
                </li>
                <li class="list-group-item">
                  <h4 class='inline-header' style="font-weight: bold;">Budget:</h4>
                  <span>{{listingShowCtrl.listing.budget| currency : $ : 0}}</a></span>
                </li>
                <li class="list-group-item">
                  <h4 class='inline-header' style="font-weight: bold;">Description:</h4>
                  <span>{{listingShowCtrl.listing.description}}</a></span>
                </li>
                <li class="list-group-item">
                  <h4 class='inline-header' style="font-weight: bold;">Location:</h4>
                  <span>{{listingShowCtrl.listing.location}}</a></span>
                </li>
                <li class="list-group-item">
                  <h4 class='inline-header' style="font-weight: bold;">Requirements:</h4>
                  <span>{{listingShowCtrl.listing.req1 || 'None'}}</a></span>
                </li>
                <li class="list-group-item" ng-hide="listingShowCtrl.listing.req2 == null">
                  <span>{{listingShowCtrl.listing.req2}}</a></span>
                </li>
                <li class="list-group-item" ng-hide="listingShowCtrl.listing.req3 == null">
                  <span>{{listingShowCtrl.listing.req3}}</a></span>
                </li>
              </ul>
            </div>
            <!-- Response box -->
            <div class="col-md-3 col-xs-12" ng-show="responding">

              <h5>Your Response:</h5>
              <textarea ng-show="responding" ng-model="listingShowCtrl.newBid.response" placeholder="Response" maxlength="400" type="string"
                class="form-control input-md" required=""></textarea>
              <input ng-show="responding" ng-model="listingShowCtrl.newBid.budgetResponse" placeholder="Budget Response" type="string" class="form-control input-md">
              <input ng-show="responding" ng-model="listingShowCtrl.newBid.req1Response" placeholder="Requirements Response" type="string" class="form-control input-md">
            </fieldset>
          </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
