<div class="container" style="margin-left: 20px;">
  <h5><a ui-sref="your-listings" style="color:#10645f;">Back to Your Listings</a></h5>
  <div class="row">
    <div class="col-md-4 col-xs-12">
      <div class="list-group form-inline">
        <li class="list-group-item">
          <h4 class='inline-header'>Topic:</h4>
          <span ng-hide="editing">{{listingShowCtrl.listing.topic}}</a></span>
          <input ng-show="editing" ng-model="listingShowCtrl.listing.topic" type="text" class="form-control input-md">
        </li>
        <li class="list-group-item">
          <h4 class='inline-header'>Description:</h4>
          <span ng-hide="editing">{{listingShowCtrl.listing.description}}</a></span>
          <input ng-show="editing" ng-model="listingShowCtrl.listing.description" type="text" class="form-control input-md">

        </li>
        <li class="list-group-item">
          <h4 class='inline-header'>Budget:</h4>
          <span ng-hide="editing">{{listingShowCtrl.listing.budget| currency : $ : 0}}</a></span>
          <input ng-show="editing" ng-model="listingShowCtrl.listing.budget" type="text" class="form-control input-md">

        </li>
        <li class="list-group-item">
          <h4 class='inline-header'>Location:</h4>
          <span ng-hide="editing">{{listingShowCtrl.listing.location}}</a></span>
          <input ng-show="editing" ng-model="listingShowCtrl.listing.location" type="text" class="form-control input-md">
        </li>
        <li class="list-group-item">
          <h4 class='inline-header'>Requirements:</h4>
          <span ng-hide="editing">{{listingShowCtrl.listing.req1 || 'None'}}</a></span>
          <input ng-show="editing" ng-model="listingShowCtrl.listing.location" type="text" class="form-control input-md">

        </li>
        <li class="list-group-item" ng-hide="listingShowCtrl.listing.req2 == null">
          <span ng-hide="editing">{{listingShowCtrl.listing.req2}}</a></span>
        </li>
        <li class="list-group-item" ng-hide="listingShowCtrl.listing.req3 == null">
          <span ng-hide="editing">{{listingShowCtrl.listing.req3}}</a></span>
        </li>
      </div>
    </div>
    <div class="col-md-8 col-xs-12">
      <h4 ng-hide="listingShowCtrl.listing.bids.length"> No responses yet.</h4>
      <div ng-repeat="bid in listingShowCtrl.listing.bids ">
        <div class="col-md-3 bid-columns">
          <div class="list-group form-inline">
            <li class="list-group-item">
              <h5 class='inline-header'>Bid:</h5>
                {{bid.response}}
            </li>
            <li class="list-group-item">
              <h5 class='inline-header'>Email:</h5>
                  {{bid.responseEmail}}
              </li>
              <li class="list-group-item">
              <h5 class='inline-header'>Budget Response:</h5>
                {{bid.budgetResponse}}
            </li>
            <li class="list-group-item">
              <h5 class='inline-header'>Requirements:</h5>
                {{bid.req1Response}}
            </li>
            <li class="list-group-item" ng-hide="bid.req2Response == null">

                {{bid.req2Response}}
            </li>
            <li class="list-group-item" ng-hide="bid.req3Response == null">

                {{bid.req3Response}}
            </li>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
