<h3 class="text-center">Welcome back!</h3>
<hr>
<form ng-submit="lc.login()" name="loginForm" required>
  <div ng-if="errorMessage">{{ errorMessage }}</div>
  <div ng-messages="loginForm.userEmail.$error"
    ng-if="loginForm.userEmail.$dirty">
    <div ng-message="email">Type a valid email address</div>
  </div>
  <div class="form-group">
    <input type="email" name="userEmail"ng-model="lc.new_user.email" class="form-control" placeholder="Email" required>
  </div>

  <div class="form-group">
    <input type="password" ng-model="lc.new_user.password" class="form-control" placeholder="Password" required>
  </div>
  <input type="submit" value="Log In" class="btn btn-block btn-info">
</form>
<br>
<p class="text-muted">Don't have an account? <a ui-sref="signup">Sign up here.</a></p>
