<div class="container">
  <div class="row">
		<div class="col-sm-4">
		<h3 >{{main.currentUser().displayName}}</h3>
			<hr>
				<p><strong>Email:</strong> {{main.currentUser().email}}</p>
				<p><strong>Username:</strong> {{main.currentUser().username}}</p>
				<p><strong>Joined:</strong> {{main.currentUser().created | date:'MMMM dd, yyyy'}}</p>
				<p><strong>Requests:</strong> {{main.currentUser().listings.length}}</p>
			<hr>
			<a href="#" ng-click="profile.showEditForm=true" ng-hide="profile.showEditForm" class="btn btn-default"><i class="fa fa-pencil"></i> Edit Profile</a>
			<form ng-show="profile.showEditForm" ng-submit="profile.updateProfile()">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Full Name"
					ng-model="profile.new_profile.displayName"
					ng-value="main.currentUser().displayName">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Username"
					ng-model="profile.new_profile.username"
					ng-value="main.currentUser().username">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Email"
					ng-model="profile.new_profile.email"
					ng-value="main.currentUser().email">
				</div>
				<input type="submit" value="Edit Profile" class="btn btn-info">&nbsp;
				<button ng-click="profile.showEditForm=false" class="btn btn-default">Cancel</button>
			</form>
		</div>
    <div class="profile-menu">
      <div class="col-sm-2">
        <h4><a ui-sref="profile-listings" style="color:#10645f;">Your Listings</a></h4>
      </div>
      <div class="col-sm-2">
        <h4><a ui-sref="bid-responses"style="color:#10645f;">Your Bids</a></h4>
      </div>
      <div class="col-sm-2">
        <h4><a ui-sref="profile-listings"style="color:#10645f;">Messages</a></h4>
      </div>
    </div>
