<div class="container">
  <div class="row">
		<div class="col-sm-4">
		<h3 >{{main.currentUser().displayName}}</h3>
			<hr>
				<p><strong>Email:</strong> {{main.currentUser().email}}</p>
				<p><strong>Username:</strong> {{main.currentUser().username}}</p>
				<p><strong>Joined:</strong> {{main.currentUser().created | date:'MMMM dd, yyyy'}}</p>
				<p><strong>Requests:</strong> {{main.currentUser().listings.length}}</p>

			<hr>
			<a href="#" ng-click="profile.showEditForm=true" ng-hide="profile.showEditForm" class="btn btn-default"><i class="fa fa-pencil"></i> Edit Profile</a>
			<form ng-show="profile.showEditForm" ng-submit="profile.updateProfile()">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Full Name"
					ng-model="profile.new_profile.displayName"
					ng-value="main.currentUser().displayName">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Username"
					ng-model="profile.new_profile.username"
					ng-value="main.currentUser().username">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Email"
					ng-model="profile.new_profile.email"
					ng-value="main.currentUser().email">
				</div>
				<input type="submit" value="Edit Profile" class="btn btn-info">&nbsp;
				<button ng-click="profile.showEditForm=false" class="btn btn-default">Cancel</button>
			</form>
		</div>
		<div class="col-sm-8">
			<div ng-repeat="listing in main.currentUser().listings | orderBy: 'topic'" class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="col-md-10 col-xs-12">
						<ul class="list-group form-inline">
							<li class="list-group-item">
								<h3><a ui-sref="listing-detail({listingId: listing._id})">{{listing.topic}}</a></h3>
								<p> Budget: {{listing.budget| currency : $ : 0}} | Location: {{listing.location}} | Posted: {{listing.created}}</p>
								<p class="card-text">{{listing.description}}</p>
							</li>
						</ul>
					</div>
				</div>
				<div class='panel-footer'>
						<button class='btn btn-danger' ng-click="listingShowCtrl.deleteListing(listing)">Delete Listing</button>
						<button class='btn btn-info' ng-hide="editing" ng-click="editing = true">Edit Listing</button>
						<button class='btn btn-success' ng-show="editing" ng-click="listingShowCtrl.editListing(listing); editing = false">Save Changes</button>
				</div>
			</div>
		</div>
	</div>
</div>
