<div class="container">
  <div class="row">
<div>
  <h5><a ui-sref="profile" style="color:#10645f;">Back to Profile</a></h5>
</div>
<div>
<h3 class="text-center"> Your Bids </h3>

</div>
<h4 ng-hide="main.currentUser().myBids.length"> You haven't sent any bids out yet.</h4>

<div ng-repeat="bids in main.currentUser().myBids" class="row">
  <div class="col-md-10 col-md-offset-1 ">
    <div class="panel-body">
      <ul class="list-group form-inline">
        <li class="list-group-item">
        <strong><h4> Response to Listing: </strong>{{bids.bidTopic}}</h4>
        </li>
        <li class="list-group-item">
          In response to: {{bids.createdBy}}
           {{bids.email}}
        </li>

        <li class="list-group-item">
            <p> Date Sent: {{bids.responseDate}}</p>
          <p class="card-text">Your Response: </p><p>{{bids.response}}</p>
        </li>
      </ul>
    </div>
  </div>
</div>

</div>
</div>
